<div>
  <h1>Login</h1>
  <form action="" id="loginForm">
    <label for="">Email</label>
    <input type="email" name="email" />
    <hr />
    <label for="">Password</label>
    <input type="password" name="password" />
    <hr />
    <button type="submit">Login</button>
  </form>
  <a href="/api/sessions/github"><button>Login with github</button></a>
  <p>You are not registered? <a href="/register">Click Here</a></p>
</div>

<script src="/js/login.js"></script>